body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.hero-section {
    position: relative;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 10s infinite;
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 10px;
}

@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-title {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #0056b3;
}